.Container{
  margin-top: 20vh;
}

.wrapper {
    width: 400px;
    margin: 60px auto;
    background-color: #ed1c2e;
    color: white;
    padding: 0px 0 10px 0;
}

h2 {
    background-color: black;
    padding: 10px;
}

span {
    margin-left: 13px;
}
